.container{
    width: 350px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 970px) and (max-width: 1199px) {

    .container{
        width: 300px;
        height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
.main_img{
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img img{
    max-width: 100%;
    max-height: 190px;
}

.characters_container{
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
}

.open{
    width: 150px;
    height: 35px;
    font-size: 18px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
    margin-top: 50px;
}

.open:hover{
    background-color: gray;
    cursor: pointer;
}

.delete_item_container{
    width: 100%;
    height: 10px;
    z-index: 1;
    position: relative;

    display: grid;
    grid-template-columns: 0.1fr;
    justify-content: right;
    box-sizing: border-box;
}

.delete_item_button{
    width: 50px;
    height: 50px;
}

.delete_item_button img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.delete_item_button img:hover{
    width: 42px;
    height: 42px;
    margin-top: 8px;
    margin-right: 2px;

}

.container_of_delete{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.delete{
    width: 400px;
    height: 140px;
    background-color: white;
    z-index: 2;
    text-align: center;
}

.delete button{
    width: 150px;
    height: 35px;
    font-size: 18px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
    margin: 10px;
}

.delete button:hover{
    background-color: gray;
    cursor: pointer;
}
